body {
	background-image: url("img/hexellence.png");
	font-family: 'Open Sans', sans-serif;
}

#container {
	width: 1000px;
	height: 700px;
	/*background-color: #000;*/
	margin-right: auto;
	margin-left: auto;
}

#navbar {
	width: 980px;
	height: 60px;
	background-color: #36b03c;
	padding: 0px;
	border-radius: 12px;
	color: #fff;
}

#navbar_top {
	
	height: 50px;
	margin-top: 75px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px !important;
}

#navbar_top_left {
	width: 300px;
	height: 46px;
	background-color: #fff;
	margin-left: 650px;
	padding: 2px;
	text-align: center;
	border-radius: 9px 9px 0px 0px;

	-webkit-box-shadow: 3px -3px 35px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px -3px 35px 0px rgba(0,0,0,0.75);
	box-shadow: 3px -3px 35px 0px rgba(0,0,0,0.75);
}

ol {
	list-style-type: none;
	font-size: 18px;
	margin: 0px;
	line-height: 200%;
	margin-left: 300px;
}

ol a {
	color: #fff;
	text-decoration: none;
	display: block;
}

ol > li {
	float: left;
	width: 130px;
	height: 40px;
	padding: 10px;
	border-right: 1px dashed #76DE77;
	text-align: center;
}

ol > li:first-child {
	border-left: 1px dashed #76DE77;
}

ol > li:hover {
	background-color: #54C755;
}

ol > li:hover > a {
	background-color: #54C755;
	color: #154715;
}


/*---STATISTIC---*/

#container2 {
	width: 940px;
	padding: 30px;
	text-align: center;
}

/*---ADD---*/

#matchesClass {
	width: 470px;
	float: left;
}

#matchDate {
	width: 470px;
	float: left;
}

#yellowCart {
	width: 470px;
	float: left;
}

#redCart {
	width: 470px;
	float: left;
}

.ref {
	float: left;
	padding: 8px;
	width: 454px;
}

/*---MATCH----*/
th:hover:before {
	content:attr(data-tooltip);
	position: absolute;
	background-color: #F0F0F0;
	border: 1px solid #000;
	padding: 5px;
	border-radius: 4px;
}